@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    
}

input, label, a, p, h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;

}
a:link, a:visited { 
    text-decoration: none;

}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #f2f2f2; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#75d3ff, #0094ff);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-image: #007cd4;
}

button{
    cursor: pointer;
}

.body-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ffffff, #d6d6d6);
}

.app-center{
    position: absolute;
    width: 100%;
    height: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display:flex;
}

.semi-div{
    position: relative;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 36px;
    margin-top: 140px;
    animation: fadein 1s;
}

@keyframes fadein {
    from { transform: translateX(-100%);}
    to   { transform: translateX(0);}
}

.contact-info{
    position:relative;
    width: 390px;
    height: 75px;
    background-image: linear-gradient(#75d3ff, #0094ff);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.content{
    position: relative;
    width: 390px;
    max-width: 390px;
    height: 400px;
    background-color: #ffffff;
    overflow: auto;
}

.send{
    position: relative;
    width: 390px;
    height: 75px;
    background-image: linear-gradient(#75d3ff, #0094ff);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.send-items{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.photo-container{
    position: relative;
    width: 100px;
    height: 100%;
    margin-left: 15px;
    text-align: left;
}

.text-input{
    position: relative;
    width: 100%;
    height: 100%;
}

.send-request{
    position: relative;
    right: 0;
    width: 100px;
    height: 100%;
    text-align: right;
    margin-right: 19px;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.back{
    position: relative;
    width: 100px;
    height: 100%;
    margin-left: 19px;
    text-align: left;
}

.close{
    position: relative;
    right: 0;
    width: 100px;
    height: 100%;
    text-align: right;
    margin-right: 19px;
}

.btn-back{
    margin-top: 19px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: #ffffff;
}

.btn-close{
    margin-top: 19px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: #ffffff;
}

.btn-photo{
    margin-top: 19px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: #ffffff;
}

.btn-send{
    margin-top: 19px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: #ffffff;
}

.fa-arrow-left{
    background: linear-gradient(#75d3ff, #0094ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.fa-window-close{
    background: linear-gradient(#75d3ff, #0094ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.pfp-image{
    width: 100%;
    margin-top: 30px;
}

.pfp-image-nd{
    width: 100%;
    margin-top: 6px;
    margin-left: -14px;
}

.fa-camera{
    background: linear-gradient(#75d3ff, #0094ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.fa-paper-plane{
    background: linear-gradient(#75d3ff, #0094ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.pfp-img{
    position: relative;
    height: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.pfp-img-contacts{
    position: relative;
    height: 100%;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    outline: 4px solid #ffffff;
}

.contact-name{
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 15px;
    margin-top: 2px;
    text-align: left;
}

.text-name{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.text-id{
    color: #ffffff;
    font-size: 12px;
}

.message-input{
    border-radius: 25px;
    border: 0;
    height: 40px;
    width: 240px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-top: 19px;
}

input, textarea:focus, input:focus{
    outline: none;
    text-indent: 10px;
    background-color: #f2f2f2;
    color: #0094ff;
}

.message-box{
    min-width: 50px;
    height: auto !important;
    background-image: linear-gradient(#f2f2f2, #e2e1e1);
    border-radius: 25px;
    float: left;
    color: #000000;
}

.message-output{
    width: 85%;
    text-align: left !important;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    
}

.message-output p{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 150px;
}

.line{
    width: 100%;
    min-height: 40px;
    max-width: 390px;
    display: table;
    margin-top: 25px;
    transition: 1s;
}

.received{
    width: 100%;
    height: auto !important;
    position: relative;
}

.sent{
    width: 80%;
    height: auto !important;
    position: relative;
}

.pfp-image-line{
    width: 15%;
    height: auto;
    float: left;
    margin-left: 15px;
}



.sent .message-box{
    height: auto !important;
    background-image: linear-gradient(#75d3ff, #0094ff);
    color: #ffffff;
    border-radius: 25px;
    float: right !important;
    margin-right: -50px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    min-width: 50px;
}

.line:first-child{
    margin-top: 28px;
}

.line:last-child{
    margin-bottom: 28px;
}

.fa-window-close{
    font-size: 148px;
}

/* contacts style */

.center{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contacts{
    position: relative;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact-line {
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
    height: 150px;
    transition: 1s;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: linear-gradient(#75d3ff, #0094ff);
    cursor: pointer;
    animation: fadein-l 2s;
}

.contact-line:hover{
    background: linear-gradient(#0094ff, #75d3ff);
    color: #0094ff;
}

@keyframes fadein-l {
    from { transform: translateY(-5%);}
    to   { transform: translateY(0);}
}

.last-msg{
    color: #ffffff;
    font-size: 18px;
}

.nametext{
    color: #ffffff;
    font-size: 36px;
}

.text-last{
    position: relative;
    margin-left: 22px;
    margin-top: -5px;
    text-align: left;
    display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.no-button{
    position: relative;
    width: 100%;
    height: auto;
    border: 0;
    background: linear-gradient(#75d3ff, #0094ff);
}

.contacts-header{
    position:sticky;
    top: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(#75d3ff, #0094ff);
    text-align: center;
    animation: fadein-h 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadein-h {
    from { transform: translateY(-100%);}
    to   { transform: translateY(0);}
}

.contacts-header-p{
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 485px) {
    .contacts-header-p{
        font-size: 30px;
    }
    .nametext{
        color: #ffffff;
    }
}
@media only screen and (max-width: 405px) {
    .contacts-header-p{
        font-size: 24px;
    }
    .last-msg{display:none}
    .nametext{
        color: #ffffff;
    }
}

/* Index styles */

.form-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    max-width: 390px;
    text-align: center;
    background: linear-gradient(#75d3ff, #0094ff);
    border-radius: 35px;
}

.login-form *{
    text-align: center;
    font-size: 24px;
    padding: 5px;
    width: 80%;
    
}

.login-form input,button{
    border: 0;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}



.login-button{
    position: relative;
    width: 40%;
    text-align: center;
    justify-content: center;
    color: #0094ff;
    font-weight: bold;
    margin-bottom: 25px;
}

.login-button:hover{
    
}

.label-login{
    margin-top: 12px;
    color: white;
    font-size: 36px;
}