@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(255, 255, 255);
}

p, h1, h2, h3, h4, h5, h6{
    font-family: 'Varela Round', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(241, 241, 241); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: slateblue;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 72, 167); 
  }

.app-center{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display:flex;
}

.semi-div{
    position: relative;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 31px;
    box-shadow: 0 0 20px rgb(200, 200, 200)
}

.contact-info{
    position:relative;
    width: 390px;
    height: 75px;
    background-color: slateblue;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.content{
    position: relative;
    width: 390px;
    max-width: 390px;
    height: 400px;
    background-color: white;
    overflow: auto;
}

.send{
    position: relative;
    width: 390px;
    height: 75px;
    background-color:rgb(241, 241, 241);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.send-items{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.photo-container{
    position: relative;
    width: 100px;
    height: 100%;
    margin-left: 19px;
    text-align: left;
}

.text-input{
    position: relative;
    width: 100%;
    height: 100%;
}

.send-request{
    position: relative;
    right: 0;
    width: 100px;
    height: 100%;
    text-align: right;
    margin-right: 19px;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.back{
    position: relative;
    width: 100px;
    height: 100%;
    margin-left: 19px;
    text-align: left;
}

.close{
    position: relative;
    right: 0;
    width: 100px;
    height: 100%;
    text-align: right;
    margin-right: 19px;
}

.btn-back{
    margin-top: 19px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: white;
}

.btn-close{
    margin-top: 19px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: white;
}

.btn-photo{
    margin-top: 19px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: slateblue;
}

.btn-send{
    margin-top: 19px;
    position: relative;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: slateblue;
}

.fa-arrow-left{
    color: slateblue;
}

.fa-window-close{
    color: slateblue;
}

.pfp-image{
    width: 100%;
    margin-top: 6px;
}

.fa-camera{
    color: white;
}

.fa-paper-plane{
    color: white;
}

.pfp-img{
    position: relative;
    height: 100%;
    width: 40px;
    height: 40px;
    outline: solid 3px white;
    outline-offset: -3px;
    border-radius: 50px;
}

.contact-name{
    position: relative;
    height: 100%;
    margin-left: 15px;
    margin-top: 2px;
}

.text-name{
    color: white;
    font-weight: bold;
}

.text-id{
    color: white;
}

.message-input{
    border-radius: 25px;
    border: 0;
    height: 40px;
    width: 240px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    margin-top: 19px;
}

input, textarea:focus, input:focus{
    outline: none;
    text-indent: 10px;
}

.message-box{
    width: 60%;
    height: auto !important;
    background-color: rgb(241, 241, 241);
    border-radius: 25px;
    float: right;
    margin-right: 85px;
}

.message-output{
    width: 85%;
    text-align: left !important;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    
}

.message-output p{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 150px;
}

.line{
    width: 100%;
    min-height: 40px;
    max-width: 390px;
    display: table;
    margin-top: 20px;
}

.received{
    width: 100%;
    height: auto !important;
    position: relative;
}

.sent{
    width: 80%;
    height: auto !important;
    position: relative;
}

.pfp-image-line{
    width: 15%;
    height: auto;
    float: left;
}

.sent .message-box{
    height: auto !important;
    background-color: slateblue;
    color: white;
    border-radius: 25px;
    float: right !important;
    margin-right: -60px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.line:first-child{
    margin-top: 20px;
}
